<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<% if(profile == undefined) { %>
	<title>Hello, Guest</title>
	<% } else { %>
	<title>Hello, <%= profile.displayName %></title>
	<% } %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
	<!--[if lt IE 9]>
      <script src="../public/stylesheets/theme1/html5shiv.js"></script>
      <script src="../public/stylesheets/theme1/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
  	<style>  
  		.col-center-block {  
  			float: none;  
  			display: block;  
  			margin-left: auto;  
  			margin-right: auto;  
  		}  
  	</style>  
  	<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RVRC BOOKING</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Navigation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">            
            <li><a href="/viewBooking">View My Booking Info</a></li>
            <li class="divider"></li>
            <li><a href='/report'> Report </a></li>
            <li class="divider"></li>
            <li><a href='/warning'> Warning </a></li>
            <li class="divider"></li>
            <li><a href="/manageGroup"> Manage Group </a></li>
          </ul>
        </li>
      <% if(profile == undefined) { %>
          <form id="myform" action="/auth/openid" method="post">
            <div>
              <input type="text" name="openid_identifier" value='https://openid.nus.edu.sg' hidden/><br/>
              <a class="btn btn-warning" href="#" onclick="document.getElementById('myform').submit()">Login With Your NUSID</a>
            </div>
          </form>
          <% } else { %>
          <li class="active"><a href="/logout"> Logout <span class="sr-only">(current)</span></a></li>
          <% } %>

        
      </ul>      
    </div>
 </div>
  	<div class="container">
  		<div class="row">
  			
  			<div class="col-lg-6 col-center-block">
  				
  				

  				<% for (var d = dates.length - 1; d > -1; d--) { %>
  				<div id="day<%=d%>">
  					<!-- <h3> DATE: <%= dates[d] %> </h3> --><br/><br/>
            <h3> DATE: <%= new Date(Date.parse(dates[d])).toDateString() %> </h3>
  					<table>
  						<tr>
  							<th>Room Number</th>
  							<% for (var i = 0; i < numberOfTimeslots - 1; i++) { %>
  							<th><%= timeStringArray[i].slice(0, 5) %> %></th>
  							<% } %>
  						</tr>

  						<% for (var u = 0; u < allRoomNumber.length; u++) { %>
  						<tr>
  							<td> <%= allRoomNumber[u].rid %> </td>
  							<% for (var n = 0; n < numberOfTimeslots - 1; n++) { %>
  							<% if (booking[d][u][n].length == 1) { %>
  							<!-- the room on this day at this timeslot is booked by someone -->
  							<td><a class="btn btn-danger btn-block" href="/report?room=<%= allRoomNumber[u].rid %>&start=<%=timeStringArray[n] %>&end=<%=timeStringArray[n+1] %>&date=<%=dates[d] %>"> REPORT </a></td>
  							<% } else if (booking[d][u][n].length == 0) { %>
  							<% if (profile == undefined || profile.groupid == undefined || profile.groupid == 1) { %>
  							<!-- repetition -->
  							<% if (dates[d] == dateAndTimeString.dateString) { %>
  							<% if (timeStringArray[n] > dateAndTimeString.timeString) { %>
  							<td><a class="btn btn-success btn-block" href="/booking?room=<%= allRoomNumber[u].rid %>&start=<%=timeStringArray[n] %>&end=<%=timeStringArray[n+1] %>&date=<%=dates[d] %>">BOOK</a></td>
  							<% } else { %>
  							<td><a class="btn btn-success btn-block" href="javascript:function() { return false; }" disabled>BOOK</button></td>
  							<% } %>
  							<% } else { %>
  							<td><a class="btn btn-success btn-block" href="/booking?room=<%= allRoomNumber[u].rid %>&start=<%=timeStringArray[n] %>&end=<%=timeStringArray[n+1] %>&date=<%=dates[d] %>">BOOK</button></td>
  							<% } %>
  							<!-- repetition -->
  							<% } else { %>
  							<% if (dateAndNumber[d].dateString == dates[d]) { %>
  							<% if (dateAndNumber[d].numberOfBooking >= bookingLimit) { %>
  							<td><a class="btn btn-success btn-block" href="javascript:function() { return false; }" disabled>BOOK</button></td>
  							<% } else { %>
  							<td><a class="btn btn-success btn-block" href="/booking?room=<%= allRoomNumber[u].rid %>&start=<%=timeStringArray[n] %>&end=<%=timeStringArray[n+1] %>&date=<%=dates[d] %>">BOOK</button></td>
  							<% } %>
  							<% } else { %>
  							<!-- repetition -->
  							<% if (dates[d] == dateAndTimeString.dateString) { %>
  							<% if (timeStringArray[n] > dateAndTimeString.timeString) { %>
  							<td><a class="btn btn-success btn-block" href="/booking?room=<%= allRoomNumber[u].rid %>&start=<%=timeStringArray[n] %>&end=<%=timeStringArray[n+1] %>&date=<%=dates[d] %>">BOOK</button></td>
  							<% } else { %>
  							<td><a class="btn btn-success btn-block" href="javascript:function() { return false; }" disabled>BOOK</button></td>
  							<% } %>
  							<% } else { %>
  							<td><a class="btn btn-success btn-block" href="/booking?room=<%= allRoomNumber[u].rid %>&start=<%=timeStringArray[n] %>&end=<%=timeStringArray[n+1] %>&date=<%=dates[d] %>">BOOK</button></td>
  							<% } %>
  							<!-- repetition -->
  							<% } %>
  							<% } %>
  							<% } %>
  							<% } %>

  						</tr>
  						<% } %>

  					</table>
  				</div>
  				<br/><br/>
  				<% } %>
  			</div>
  		</div>
  		<footer>
  			<div class="row">
  				<div class="col-lg-12">
  					<ul class="list-unstyled">
  						<li class="pull-right">
  							<a href="#top">Back to top</a>
  						</li>
  						<li>
  							<a href="http://rvrc.nus.edu.sg">RVRC</a>
  						</li>
  						<li>
  							<a href="http://feeds.feedburner.com/bootswatch">Contact Us</a>
  						</li>
  					</ul>
  					<p>
  						Theme made by
  						<a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>
  						.
  					</p>
  					<p>
  						Code released under the
  						<a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>
  						.
  					</p>
  				</div>
  			</div>	
  		</footer>
  	</div>
  	<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
  	<script src="/stylesheets/theme1/bootstrap.min.js"></script>
  	<script src="/stylesheets/theme1/custom.js"></script>
  </body>
  </html>