<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello, <%= profile.displayName %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
  <!--[if lt IE 9]>
      <script src="../public/stylesheets/theme1/html5shiv.js"></script>
      <script src="../public/stylesheets/theme1/respond.min.js"></script>
      <![endif]-->
</head>
<body>
  <style>  
    .col-center-block {  
      float: none;  
      display: block;  
      margin-left: auto;  
      margin-right: auto;  
    }  
  </style>  
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RVRC BOOKING</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Navigation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">            
            <li><a href="/info"> View General Info </a></li>
            <li class="divider"></li>
            <li><a href='/report'> Report </a></li>
            <li class="divider"></li>
            <li><a href='/warning'> Warning </a></li>
            <li class="divider"></li>
            <li><a href="/manageGroup"> Manage Group </a></li>
          </ul>
        </li>
      
        <li class="active"><a href="/logout"> Logout <span class="sr-only">(current)</span></a></li>
      </ul>      
    </div>
 </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-center-block">
      <h1>Hello, <%= profile.displayName %></h1>
    
    
    
    <br> </br>
    <h3> Your Invitation Token: <%= invitationToken %> </h3>

    <h3>Group <%= groupid %> Information: </h3>
    <h4 style="font-size: 18px" > Number of Members: <%= memberNumber %> </h4>
    <h4 style="font-size: 18px" > Number of Vacancies: <%= memberNumberLimit - memberNumber %> </h4>
    <h4 style="font-size: 18px" > Number of Warnings: <%= warning %> </h4>

    <br> </br>
    <h4 style="font-size: 18px" > Group Member: </h4>

    <% for (var i = 0; i < membersInfo.length; i++) { %>
      <div>
        <p> Member Name: <%= membersInfo[i].name %> </p>
        <p> Member Email: <%= membersInfo[i].email %> </p>
        <br/>
      </div>
    <% } %>

    <br> </br>

    <h4 style="font-size: 18px" > Past Bookings </h4>
    
    <% for (var d = pastBooking.length - 1; d > -1; d--) { %>
      <h5>DATE: <%= dates[d] %></h5>
      <% for (var i = 0; i < pastBooking[d].length; i++) { %>
        <div>
          <p>Room Number: <%= pastBooking[d][i].roomid %></p>
          <p>Start: <%= pastBooking[d][i].start %></p>
          <p>end: <%= pastBooking[d][i].end %></p>
          <p>Date: <%= pastBooking[d][i].date %></p>
        </div>
      <% } %>
    <% } %>

    <% if (memberNumberLimit - memberNumber > 0) { %>
      <form id="myform" action="/manageJoinAGroup" method="post" class="form-horizontal">
          <div>
              <input type="text" name="gid" value='<%= groupid %>' hidden/><br/>
              <a class="btn btn-primary" href="#" onclick="document.getElementById('myform').submit()">I AGREE TO JOIN THIS GROUP</a>
          </div>
      </form>
    <% } else { %>
      <a href='/manageRegister'> Manage My Registration </a>
    <% } %>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li class="pull-right">
              <a href="#top">Back to top</a>
            </li>
            <li>
              <a href="http://rvrc.nus.edu.sg">RVRC</a>
            </li>
            <li>
              <a href="http://feeds.feedburner.com/bootswatch">Contact Us</a>
            </li>
          </ul>
          <p>
            Theme made by
            <a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>
            .
          </p>
          <p>
            Code released under the
            <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>
            .
          </p>
        </div>
      </div>  
    </footer>
  </div>
  <script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
  <script src="/stylesheets/theme1/bootstrap.min.js"></script>
  <script src="/stylesheets/theme1/custom.js"></script>
</body>
</html>