<html>
  <head>
    <title>Hello, <%= profile.displayName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, <%= profile.displayName %></h1>
    
    <a href="/info">View General Info</a>
    <a href="/logout"> Logout </a>
    

    <h3> Your Invitation Token: <%= invitationToken %> </h3>

    <h3>Group <%= groupid %> Information: </h3>
    <h4> Number of Members: <%= memberNumber %> </h4>
    <h4> Number of vacancies: <%= memberNumberLimit - memberNumber %> </h4>
    <h4> Number of WARNINGs: <%= warning %> </h4>


    <h4> Group Member: </h4>

    <% for (var i = 0; i < membersInfo.length; i++) { %>
    	<div>
    		<p> Member Name: <%= membersInfo[i].name %> </p>
    		<p> Member Email: <%= membersInfo[i].email %> </p>
    		<br/>
      </div>
    <% } %>

    <h4> Past Bookings </h4>
    <%= JSON.stringify(pastBooking) %>
    <% for (var d = pastBooking.length - 1; d > -1; d--) { %>
      <h5>DATE: <%= dates[d] %></h5>
      <% for (var i = 0; i < pastBooking[d].length; i++) { %>
        <div>
          <p>Room Number: <%= pastBooking[d][i].roomid %></p>
          <p>Start: <%= pastBooking[d][i].start %></p>
          <p>end: <%= pastBooking[d][i].end %></p>
          <p>Date: <%= pastBooking[d][i].date %></p>
        </div>
      <% } %>
    <% } %>

    <% if (memberNumberLimit - memberNumber > 0) { %>
      <form id="myform" action="/manageJoinAGroup" method="post">
          <div>
              <input type="text" name="gid" value='<%= groupid %>' hidden/><br/>
              <a href="#" onclick="document.getElementById('myform').submit()">I AGREE TO JOIN THIS GROUP</a>
          </div>
      </form>
    <% } else { %>
      <a href='/manageRegister'> Manage My Registration </a>
    <% } %>
    
    
  </body>
</html>