<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello, <%= profile.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
	<!--[if lt IE 9]>
      <script src="../public/stylesheets/theme1/html5shiv.js"></script>
      <script src="../public/stylesheets/theme1/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
  	<style>  
  		.col-center-block {  
  			float: none;  
  			display: block;  
  			margin-left: auto;  
  			margin-right: auto;  
  		}  
  	</style>  
  	<div class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<div class="navbar-header">
  				<a class="navbar-brand" href="/">RVRC BOOKING</a>
  				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  			</div>
  			<div id="navbar-main" class="navbar-collapse collapse">
  				<ul class="nav navbar-nav navbar-right">
  					<li>
  						<a>Hi, <%= profile.displayName %></a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-7 col-center-block">
  				<h1>Hello, <%= profile.displayName %></h1>
  				<h3>Group <%= profile.groupid %> Information: </h3>
  				<a class="btn btn-primary" href="/info">View General Info</a>
  				<a class="btn btn-primary" href="/logout"> Logout </a>
  				<a class="btn btn-primary" href='/inviteAMember'> Invite A Member </a>
  				<a class="btn btn-primary" href='/dismissGroup'> Dismiss My Group </a>
          <a class="btn btn-primary" href='/warning?userid=<%=profile.NusNetsID%>'> Warning </a>
          <a class="btn btn-primary" href='/report'> Report </a>

          <br> </br>
  				<h4 style="font-size: 18px"> Number of Members: <%= memberNumber %> </h4>
  				<h4 style="font-size: 18px"> Number of Vacancies: <%= memberNumberLimit - memberNumber %> </h4>
  				<h4 style="font-size: 18px"> Number of Warnings: <%= warning %> </h4>

          <br> </br>

  				<h4 class="btn btn-default"> Group Member: </h4>

  				<% for (var i = 0; i < membersInfo.length; i++) { %>
  				<div>
  					<p> Member Name: <%= membersInfo[i].name %> </p>
  					<p> Member Email: <%= membersInfo[i].email %> </p>
  					<br/>
  				</div>
  				<% } %>

  				<h4 class="btn btn-default"> Past Bookings </h4>
  				
  				<% for (var d = pastBooking.length - 1; d > -1; d--) { %>
  				<h5>DATE: <%= dates[d] %></h5>
  				<% for (var i = 0; i < pastBooking[d].length; i++) { %>
  				<div>
  					<p>Room Number: <%= pastBooking[d][i].roomid %></p>
  					<p>Start: <%= pastBooking[d][i].start %></p>
  					<p>end: <%= pastBooking[d][i].end %></p>
  					<p>Date: <%= pastBooking[d][i].date %></p>
  				</div>
  				<% } %>
  				<% } %>
  				
  			</div>
  		</div>
  		<footer>
  			<div class="row">
  				<div class="col-lg-12">
  					<ul class="list-unstyled">
  						<li class="pull-right">
  							<a href="#top">Back to top</a>
  						</li>
  						<li>
  							<a href="http://rvrc.nus.edu.sg">RVRC</a>
  						</li>
  						<li>
  							<a href="http://feeds.feedburner.com/bootswatch">Contact Us</a>
  						</li>
  					</ul>
  					<p>
  						Theme made by
  						<a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>
  						.
  					</p>
  					<p>
  						Code released under the
  						<a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>
  						.
  					</p>
  				</div>
  			</div>	
  		</footer>
  	</div>
  	<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
  	<script src="/stylesheets/theme1/bootstrap.min.js"></script>
  	<script src="/stylesheets/theme1/custom.js"></script>
  </body>
  </html>