[
  [ {"roomid":101,"groupid":1,"date":"2017-08-07T16:00:00.000Z","start":"02:00:00","end":"04:00:00"},
    {"roomid":101,"groupid":1,"date":"2017-08-07T16:00:00.000Z","start":"02:00:00","end":"04:00:00"}  ],
  [ {"roomid":101,"groupid":1,"date":"2017-08-08T16:00:00.000Z","start":"02:00:00","end":"04:00:00"}  ]
]
<html>
  <head>
    <title>Hello, <%= profile.displayName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, <%= profile.displayName %></h1>
    <h3>Group <%= profile.groupid %> Information: </h3>
    <a href="/info">View General Info</a>
    <a href="/logout"> Logout </a>
    <a href='/inviteAMember'> Invite A Member </a>
    <a href='/dismissGroup'> Dismiss My Group </a>

    <h4> Number of Members: <%= memberNumber %>
    <h4> Number of vacancies: <%= memberNumberLimit - memberNumber %>
    <h4> Number of WARNINGs: <%= warning %>


    <h4> Group Member: </h4>

    <% for (var i = 0; i < membersInfo.length; i++) { %>
    	<div>
    		<p> Member Name: <%= membersInfo[i].name %> </p>
    		<p> Member Email: <%= membersInfo[i].email %> </p>
    		<br/>
      </div>
    <% } %>

    <h4> Past Bookings </h4>
    <%= JSON.stringify(pastBooking) %>
    <% for (var d = pastBooking.length - 1; d > -1; d--) { %>
      <h5>DATE: <%= dates[d] %></h5>
      <% for (var i = 0; i < pastBooking[d].length; i++) { %>
        <div>
          <p>Room Number: <%= pastBooking[d][i].roomid %></p>
          <p>Start: <%= pastBooking[d][i].start %></p>
          <p>end: <%= pastBooking[d][i].end %></p>
          <p>Date: <%= pastBooking[d][i].date %></p>
        </div>
      <% } %>
    <% } %>
    
  </body>
</html>